# ==============================================================================
# Git Ignore for LiveStream Micro-DAW (Public Binary & Release Only)
# Tuyet doi khong dua ma nguon C++ len Git
# ==============================================================================

# Source code & Private Engine files
src/
third_party/
build/
installer/
installer_output/
tools/
CMakeLists.txt
build_run.bat
plugins/receiver/
*.cpp
*.h
*.hpp
*.html
blogger_embed.html
landing_page.html

# IDE & Build artifacts
.vs/
.vscode/
.idea/
.system_generated/
*.log
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.ninja*
